*{
	margin: 0px;
	padding: 0px;
}

.tog1 {
	position: absolute;
	left: 860px;
	top: 86px;
	width: 178px;
	height: 128px;
	line-height: 185px;
	text-align: center;
	z-index: 90;
}

.tog2 {
	position: absolute;
	left: 860px;
	top: 86px;
	width: 178px;
	height: 128px;
	line-height: 185px;
	text-align: center;
	display: none;
	z-index: 90;
}

.tab1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.tab2 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 2;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 41px;
  top: 34px;
  width: 481px;
  height: 179px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 128px;
  top: 248px;
  width: 201px;
  height: 466px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 7;
}

.s4 {
	position: absolute;
  left: 34px;
  top: 350px;
  width: 235px;
  height: 209px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: bottom right;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 399px;
  top: 255px;
  width: 614px;
  height: 36px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 413px;
  top: 335px;
  width: 318px;
  height: 75px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.7s;
	animation-fill-mode: both;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 776px;
  top: 335px;
  width: 222px;
  height: 55px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 402px;
  top: 460px;
  width: 614px;
  height: 35px;
	animation: fadeInUp 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 384px;
  top: 510px;
  width: 664px;
  height: 194px;
	animation: revealHorizontal 0.5s;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	clip: rect(0px,0px,200px,0px);
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 429px;
  top: 271px;
  width: 432px;
  height: 93px;
    animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 429px;
  top: 448px;
  width: 336px;
  height: 70px;
    animation: fadeInRight 0.5s;
	animation-delay: 0.4s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 429px;
  top: 610px;
  width: 572px;
  height: 93px;
    animation: fadeInRight 0.5s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.for {
	animation: fadeOutRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.fir {
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}


@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,200px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,700px,200px,0px);
	opacity: 1;
  }
}


@keyframes flashLong {
  0%, 40%, 80%   {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}