*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 40px;
  top: 28px;
  width: 383px;
  height: 69px;
	animation: slideInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 35px;
  top: 114px;
  width: 621px;
  height: 30px;
	animation: slideInLeft 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 157px;
  top: 394px;
  width: 222px;
  height: 361px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: bottom left;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 395px;
  top: 256px;
  width: 658px;
  height: 38px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 396px;
  top: 325px;
  width: 160px;
  height: 165px;
	animation: backInRight 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 567px;
  top: 325px;
  width: 159px;
  height: 165px;
	animation: backInRight 0.5s;
	animation-delay: 1.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 741px;
  top: 325px;
  width: 149px;
  height: 165px;
	animation: backInRight 0.5s;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 900px;
  top: 322px;
  width: 150px;
  height: 168px;
	animation: backInRight 0.5s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 394px;
  top: 529px;
  width: 658px;
  height: 39px;
	animation: fadeInUp 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 396px;
  top: 592px;
  width: 160px;
  height: 77px;
	animation: zoomIn 0.5s;
	animation-delay: 2.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 566px;
  top: 592px;
  width: 160px;
  height: 77px;
	animation: zoomIn 0.5s;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s13 {
	position: absolute;
  left: 740px;
  top: 592px;
  width: 151px;
  height: 77px;
	animation: zoomIn 0.5s;
	animation-delay: 2.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s14 {
	position: absolute;
  left: 900px;
  top: 592px;
  width: 150px;
  height: 77px;
	animation: zoomIn 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s15 {
	position: absolute;
  left: 871px;
  top: 123px;
  width: 183px;
  height: 122px;
	animation: stampIn 0.3s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 10;
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}