*{
	margin: 0px;
	padding: 0px;
}

.home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1080px;
	height: 810px;
	z-index: 90;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 507px;
  top: 159px;
  width: 437px;
  height: 45px;
	animation: slideInUp 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 507px;
  top: 228px;
  width: 437px;
  height: 495px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: top;
	z-index: 10;
}

.s4 {
	position: absolute;
  left: 958px;
  top: 453px;
  width: 42px;
  height: 34px;
	animation: flashLong 0.5s infinite;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 10;
}

.s5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 120;
}

.popUp {
  position: absolute;
  left: 474px;
  top: 203px;
  width: 545px;
  height: 539px;
  z-index: 100;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}