*{
	margin: 0px;
	padding: 0px;
}

.s5_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s5_2 {
	position: absolute;
  left: 144px;
  top: 420px;
  width: 220px;
  height: 177px;
	animation: revealVerticalRev 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	clip: rect(250px,0px,0px,0px);
	z-index: 4;
}

.s5_3 {
	position: absolute;
  left: 596px;
  top: 442px;
  width: 243px;
  height: 155px;
	animation: revealVerticalRev 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	clip: rect(250px,0px,0px,0px);
	z-index: 3;
}

.s5_4 {
	position: absolute;
  left: 384px;
  top: 327px;
  width: 31px;
  height: 33px;
	animation: flashIt 2s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s5_5 {
	position: absolute;
  left: 861px;
  top: 327px;
  width: 31px;
  height: 33px;
	animation: flashIt 2s infinite;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.hit_1, .hit_2, .hit_3, .hit_4 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 117px;
  top: 311px;
  width: 345px;
  height: 314px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 577px;
  top: 311px;
  width: 345px;
  height: 314px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 93px;
  top: 697px;
  width: 47px;
  height: 71px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 516px;
  top: 513px;
  width: 464px;
  height: 206px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@keyframes flashIt {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}


@keyframes revealVertical {
  0% {
    clip: rect(0px,250px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,250px,180px,0px);
	opacity: 1;
  }
}

@keyframes revealVerticalRev {
  0% {
    clip: rect(180px,250px,180px,0px);
  }
  
  100% {
    clip: rect(0px,250px,180px,0px);
  }
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}