*{
	margin: 0px;
	padding: 0px;
}

.s7_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s7_2 {
	position: absolute;
  left: 17px;
  top: 251px;
  width: 251px;
  height: 467px;
	animation: fadeInRightBig 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_3 {
	position: absolute;
  left: 330px;
  top: 264px;
  width: 609px;
  height: 35px;
	animation: fadeInUpBig 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_4 {
	position: absolute;
  left: 331px;
  top: 309px;
  width: 148px;
  height: 195px;
	animation: backInRight 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_5 {
	position: absolute;
  left: 484px;
  top: 309px;
  width: 148px;
  height: 195px;
	animation: backInRight 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_6 {
	position: absolute;
  left: 635px;
  top: 309px;
  width: 148px;
  height: 195px;
	animation: backInRight 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_7 {
	position: absolute;
  left: 788px;
  top: 309px;
  width: 148px;
  height: 195px;
	animation: backInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_8 {
	position: absolute;
  left: 331px;
  top: 517px;
  width: 605px;
  height: 136px;
	animation: zoomInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s7_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s7_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}