*{
	margin: 0px;
	padding: 0px;
}

.s4_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s4_2 {
	position: absolute;
  left: 22px;
  top: 241px;
  width: 239px;
  height: 480px;
	animation: fadeInRightBig 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4_3 {
	position: absolute;
  left: 342px;
  top: 234px;
  width: 604px;
  height: 35px;
	animation: fadeInUpBig 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4_4 {
	position: absolute;
  left: 345px;
  top: 282px;
  width: 147px;
  height: 200px;
	animation: backInRight 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4_5 {
	position: absolute;
  left: 497px;
  top: 282px;
  width: 147px;
  height: 200px;
	animation: backInRight 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4_6 {
	position: absolute;
  left: 648px;
  top: 282px;
  width: 147px;
  height: 200px;
	animation: backInRight 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4_7 {
	position: absolute;
  left: 797px;
  top: 282px;
  width: 147px;
  height: 200px;
	animation: backInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4_8 {
	position: absolute;
  left: 339px;
  top: 515px;
  width: 606px;
  height: 139px;
	animation: zoomInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s4_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s4_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}