*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 357px;
  top: 54px;
  width: 368px;
  height: 42px;
	animation: slideInDown 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 127px;
  top: 116px;
  width: 826px;
  height: 28px;
	animation: slideInUp 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 52px;
  top: 664px;
  width: 1028px;
  height: 30px;
	animation: slideInRight 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 29px;
  top: 45px;
  width: 972px;
  height: 234px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 84px;
  top: 297px;
  width: 167px;
  height: 386px;
	animation: zoomIn 0.5s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 335px;
  top: 202px;
  width: 207px;
  height: 77px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 364px;
  top: 307px;
  width: 138px;
  height: 374px;
	animation: zoomIn 0.5s;
	animation-delay: 1.6s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 8;
}

.s9 {
	position: absolute;
  left: 580px;
  top: 202px;
  width: 214px;
  height: 94px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 560px;
  top: 471px;
  width: 262px;
  height: 212px;
	animation: zoomIn 0.5s;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 833px;
  top: 202px;
  width: 221px;
  height: 75px;
	animation: fadeInUp 0.5s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 873px;
  top: 307px;
  width: 135px;
  height: 370px;
	animation: zoomIn 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}