*{
	margin: 0px;
	padding: 0px;
}

.home {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1080px;
	height: 810px;
	z-index: 90;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 441px;
  top: 157px;
  width: 542px;
  height: 89px;
	animation: slideInUp 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 466px;
  top: 266px;
  width: 131px;
  height: 78px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 10;
}

.s4 {
	position: absolute;
  left: 646px;
  top: 266px;
  width: 140px;
  height: 78px;
	animation: zoomIn 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 828px;
  top: 266px;
  width: 144px;
  height: 76px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 441px;
  top: 376px;
  width: 543px;
  height: 46px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 15;
}

.s7 {
	position: absolute;
  left: 441px;
  top: 447px;
  width: 170px;
  height: 120px;
	animation: backInRight 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 20;
}

.s8 {
  position: absolute;
  left: 627px;
  top: 447px;
  width: 171px;
  height: 120px;
	animation: backInRight 0.5s;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	z-index: 30;
}

.s9 {
  position: absolute;
  left: 813px;
  top: 447px;
  width: 170px;
  height: 120px;
	animation: backInRight 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 30;
}

.s10 {
  position: absolute;
  left: 440px;
  top: 580px;
  width: 171px;
  height: 120px;
	animation: backInRight 0.5s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	z-index: 30;
}

.s11 {
  position: absolute;
  left: 627px;
  top: 580px;
  width: 171px;
  height: 120px;
	animation: backInRight 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 30;
}

.s12 {
  position: absolute;
  left: 814px;
  top: 579px;
  width: 170px;
  height: 120px;
	animation: backInRight 0.5s;
	animation-delay: 2.3s;
	animation-fill-mode: both;
	z-index: 30;
}

.s13 {
  position: absolute;
  left: 991px;
  top: 562px;
  width: 42px;
  height: 34px;
	animation: flashLong 2s infinite;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	z-index: 30;
}

.s14 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 120;
}

.popUp {
  position: absolute;
  left: 417px;
  top: 363px;
  width: 637px;
  height: 350px;
  z-index: 100;
}


@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes flashLong {
  0%, 40%, 80%   {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}