*{
	margin: 0px;
	padding: 0px;
}

.s11_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s11_2 {
	position: absolute;
  left: 143px;
  top: 438px;
  width: 50px;
  height: 76px;
	animation: revealVerticalRev 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	clip: rect(120px,50px,120px,0px);
	z-index: 2;
}

.s11_3 {
	position: absolute;
  left: 232px;
  top: 399px;
  width: 50px;
  height: 115px;
	animation: revealVerticalRev 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	clip: rect(120px,50px,120px,0px);
	z-index: 3;
}

.s11_4 {
	position: absolute;
  left: 587px;
  top: 400px;
  width: 127px;
  height: 120px;
	animation: upDown 2s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 3;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}

@keyframes revealVertical {
  0% {
    clip: rect(0px,50px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,50px,180px,0px);
	opacity: 1;
  }
}

@keyframes revealVerticalRev {
  0% {
    clip: rect(120px,50px,120px,0px);
  }
  
  100% {
    clip: rect(0px,50px,120px,0px);
  }
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}

@keyframes upDown {
  0% {
	left: 587px;
	top: 380px;
	opacity: 0;
  }
  
  50% {
    left: 587px;
    top: 400px;
	opacity: 1;
  }
  
  100% {
	left: 587px;
	top: 380px;
	opacity: 0;
  }
}

