*{
	margin: 0px;
	padding: 0px;
}

.s3_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s3_2 {
	position: absolute;
  left: 50px;
  top: 212px;
  width: 293px;
  height: 495px;
	animation: riseUp 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s3_3 {
	position: absolute;
  left: 361px;
  top: 213px;
  width: 299px;
  height: 489px;
	animation: riseUp 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s3_4 {
	position: absolute;
  left: 682px;
  top: 213px;
  width: 294px;
  height: 493px;
	animation: riseUp 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_5 {
	position: absolute;
  left: 359px;
  top: 396px;
  width: 549px;
  height: 258px;
	animation: fadeInRight 1s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_6 {
	position: absolute;
  left: 725px;
  top: 282px;
  width: 303px;
  height: 216px;
	animation: fadeInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_7 {
	position: absolute;
  left: 82px;
  top: 366px;
  width: 883px;
  height: 140px;
	animation: fadeInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s3_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s3_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s3_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}







@keyframes spinInY {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
    animation-timing-function: ease-in;
    opacity: 1;
  }
}


@keyframes riseUp {
  0% {
    opacity: 0;
    transform: scale(0.5) translate3d(0, 100%, 0);
  }
  
  30% {
    opacity: 1;
    transform: scale(0.5) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}