*{
	margin: 0px;
	padding: 0px;
}

.footer {
	position: absolute;
  left: 22px;
  top: 735px;
  width: 1036px;
  height: 53px;
	z-index: 25;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 631px;
  top: 0px;
  width: 449px;
  height: 810px;
	animation: slideInRight 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 172px;
  top: 459px;
  width: 225px;
  height: 351px;
	animation: slideInUp 0.5s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	z-index: 10;
}

.s4 {
	position: absolute;
  left: 416px;
  top: 457px;
  width: 191px;
  height: 353px;
	animation: slideInUp 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 7;
}

.s5 {
	position: absolute;
  left: 359px;
  top: 583px;
  width: 86px;
  height: 85px;
	animation: stampIn 0.2s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 10;
}

.s6 {
	position: absolute;
  left: 24px;
  top: 306px;
  width: 329px;
  height: 110px;
	animation: zoomIn 0.7s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 386px;
  top: 304px;
  width: 336px;
  height: 97px;
	animation: zoomIn 0.7s;
	animation-delay: 2.7s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 15;
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes flashLong {
  0%, 40%, 80%   {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}