*{
	margin: 0px;
	padding: 0px;
}

.home {
	position: absolute;
  left: 766px;
  top: 0px;
  width: 314px;
  height: 195px;
	z-index: 20;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 33px;
  top: 148px;
  width: 486px;
  height: 84px;
	animation: fadeInRight 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 37px;
  top: 323px;
  width: 274px;
  height: 289px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 334px;
  top: 302px;
  width: 395px;
  height: 394px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 751px;
  top: 323px;
  width: 292px;
  height: 314px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}