*{
	margin: 0px;
	padding: 0px;
}

.s12_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s12_2 {
	position: absolute;
  left: 68px;
  top: 372px;
  width: 77px;
  height: 140px;
	animation: revealVerticalRev 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	clip: rect(160px,80px,160px,0px);
	z-index: 2;
}

.s12_3 {
	position: absolute;
  left: 45px;
  top: 557px;
  width: 140px;
  height: 26px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s12_4 {
	position: absolute;
  left: 229px;
  top: 355px;
  width: 77px;
  height: 157px;
	animation: revealVerticalRev 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	clip: rect(160px,80px,160px,0px);
	z-index: 3;
}

.s12_5 {
	position: absolute;
  left: 211px;
  top: 557px;
  width: 121px;
  height: 23px;
	animation: fadeInUp 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s12_6 {
	position: absolute;
  left: 385px;
  top: 375px;
  width: 77px;
  height: 137px;
	animation: revealVerticalRev 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	clip: rect(160px,80px,160px,0px);
	z-index: 3;
}

.s12_7 {
	position: absolute;
  left: 365px;
  top: 557px;
  width: 134px;
  height: 40px;
	animation: fadeInUp 0.5s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s12_8 {
	position: absolute;
  left: 579px;
  top: 269px;
  width: 386px;
  height: 291px;
	animation: zoomIn 0.5s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s12_9 {
	position: absolute;
  left: 921px;
  top: 332px;
  width: 31px;
  height: 33px;
	animation: flashIt 2s infinite;
	animation-delay: 5s;
	animation-fill-mode: both;
	z-index: 3;
}


.hit_1, .hit_2, .hit_3, .hit_4 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 552px;
  top: 229px;
  width: 436px;
  height: 363px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 577px;
  top: 311px;
  width: 345px;
  height: 314px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 93px;
  top: 697px;
  width: 47px;
  height: 71px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 516px;
  top: 513px;
  width: 464px;
  height: 206px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}



@keyframes flashIt {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}


@keyframes revealVertical {
  0% {
    clip: rect(0px,50px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,50px,180px,0px);
	opacity: 1;
  }
}

@keyframes revealVerticalRev {
  0% {
    clip: rect(160px,80px,160px,0px);
  }
  
  100% {
    clip: rect(0px,80px,160px,0px);
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}