*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 38px;
  top: 37px;
  width: 466px;
  height: 161px;
	animation: slideInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 772px;
  top: 127px;
  width: 308px;
  height: 80px;
	animation: slideInRight 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 35px;
  top: 296px;
  width: 302px;
  height: 289px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	transform-origin: bottom left;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 386px;
  top: 246px;
  width: 637px;
  height: 37px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 399px;
  top: 316px;
  width: 133px;
  height: 181px;
	animation: backInRight 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 553px;
  top: 315px;
  width: 133px;
  height: 180px;
	animation: backInRight 0.5s;
	animation-delay: 2.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 720px;
  top: 315px;
  width: 133px;
  height: 180px;
	animation: backInRight 0.5s;
	animation-delay: 2.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 879px;
  top: 315px;
  width: 133px;
  height: 180px;
	animation: backInRight 0.5s;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 386px;
  top: 542px;
  width: 637px;
  height: 37px;
	animation: fadeInUp 0.5s;
	animation-delay: 3.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 387px;
  top: 607px;
  width: 124px;
  height: 62px;
	animation: zoomIn 0.5s;
	animation-delay: 3.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 535px;
  top: 607px;
  width: 137px;
  height: 62px;
	animation: zoomIn 0.5s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s13 {
	position: absolute;
  left: 698px;
  top: 606px;
  width: 159px;
  height: 62px;
	animation: zoomIn 0.5s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s14 {
	position: absolute;
  left: 883px;
  top: 605px;
  width: 138px;
  height: 62px;
	animation: zoomIn 0.5s;
	animation-delay: 3.6s;
	animation-fill-mode: both;
	z-index: 5;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}