*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 33px;
  top: 71px;
  width: 386px;
  height: 77px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 20px;
  top: 182px;
  width: 468px;
  height: 142px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 20px;
  top: 386px;
  width: 497px;
  height: 165px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 697px;
  top: 54px;
  width: 178px;
  height: 38px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 539px;
  top: 108px;
  width: 248px;
  height: 351px;
	animation: fadeInRight 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 799px;
  top: 108px;
  width: 248px;
  height: 351px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.1s;
	animation-fill-mode: both;
	z-index: 10;
}

.s8 {
	position: absolute;
  left: 616px;
  top: 474px;
  width: 368px;
  height: 209px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 10;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,700px,0px);
	opacity: 1;
  }
}