*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 33px;
  top: 71px;
  width: 386px;
  height: 77px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 20px;
  top: 182px;
  width: 468px;
  height: 142px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 20px;
  top: 386px;
  width: 497px;
  height: 165px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 697px;
  top: 54px;
  width: 178px;
  height: 38px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 539px;
  top: 108px;
  width: 248px;
  height: 351px;
	animation: fadeInRight 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 799px;
  top: 108px;
  width: 248px;
  height: 351px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 616px;
  top: 474px;
  width: 368px;
  height: 209px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
  position: absolute;
  left: 730px;
  top: 400px;
  width: 43px;
  height: 34px;
	animation: flashLongOn 1s infinite;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 6;
}

@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 526px;
  top: 28px;
  width: 532px;
  height: 680px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 635px;
  top: 344px;
  width: 445px;
  height: 303px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 368px;
  top: 434px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,700px,0px);
	opacity: 1;
  }
}