*{
	margin: 0px;
	padding: 0px;
}

.hit21 {
  position: absolute;
  left: 373px;
  top: 127px;
  width: 140px;
  height: 140px;
  z-index: 50;
}

.hit49 {
  position: absolute;
  left: 649px;
  top: 127px;
  width: 140px;
  height: 140px;
  display: none;
  z-index: 50;
}

.hit91 {
  position: absolute;
  left: 923px;
  top: 127px;
  width: 140px;
  height: 140px;
  z-index: 50;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 418px;
  top: 171px;
  width: 54px;
  height: 54px;
	animation: pulseBig 1s infinite;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 10;
}

.s3 {
	position: absolute;
  left: 693px;
  top: 171px;
  width: 54px;
  height: 54px;
	animation: pulseBig 1s infinite;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 10;
}

.s4 {
	position: absolute;
  left: 967px;
  top: 171px;
  width: 54px;
  height: 54px;
	animation: pulseBig 1s infinite;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 472px;
  top: 163px;
  width: 284px;
  height: 71px;
	animation: none 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	z-index: 10;
}

.s6 {
	position: absolute;
  left: 35px;
  top: 28px;
  width: 621px;
  height: 116px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 81px;
  top: 274px;
  width: 362px;
  height: 444px;
	animation: zoomIn 0.5s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 549px;
  top: 288px;
  width: 372px;
  height: 66px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 514px;
  top: 360px;
  width: 201px;
  height: 162px;
	animation: zoomIn 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 544px;
  top: 541px;
  width: 153px;
  height: 171px;
	animation: fadeInUp 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 754px;
  top: 360px;
  width: 201px;
  height: 161px;
	animation: zoomIn 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 799px;
  top: 541px;
  width: 122px;
  height: 172px;
	animation: fadeInUp 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slideInDownBig {
  from {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}