*{
	margin: 0px;
	padding: 0px;
}

.study {
	position: absolute;
  left: 766px;
  top: 0px;
  width: 314px;
  height: 195px;
	z-index: 20;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 35px;
  top: 72px;
  width: 514px;
  height: 57px;
	animation: slideInLeft 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 32px;
  top: 152px;
  width: 521px;
  height: 43px;
	animation: slideInRight 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 33px;
  top: 218px;
  width: 668px;
  height: 15px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 184px;
  top: 524px;
  width: 47px;
  height: 49px;
	animation: zoomIn 0.2s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 225px;
  top: 425px;
  width: 90px;
  height: 92px;
	animation: zoomIn 0.2s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 50px;
  top: 316px;
  width: 265px;
  height: 257px;
	animation: zoomIn 0.2s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 93px;
  top: 270px;
  width: 107px;
  height: 408px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 8;
}

.s9 {
	position: absolute;
  left: 785px;
  top: 92px;
  width: 295px;
  height: 78px;
	animation: slideInRight 0.3s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 349px;
  top: 285px;
  width: 688px;
  height: 38px;
	animation: fadeInUp 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 349px;
  top: 351px;
  width: 143px;
  height: 191px;
	animation: backInRight 0.5s;
	animation-delay: 3.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 509px;
  top: 351px;
  width: 181px;
  height: 191px;
	animation: backInRight 0.5s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s13 {
	position: absolute;
  left: 706px;
  top: 351px;
  width: 152px;
  height: 191px;
	animation: backInRight 0.5s;
	animation-delay: 3.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s14 {
	position: absolute;
  left: 874px;
  top: 351px;
  width: 160px;
  height: 191px;
	animation: backInRight 0.5s;
	animation-delay: 3.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s15 {
	position: absolute;
  left: 347px;
  top: 576px;
  width: 688px;
  height: 38px;
	animation: fadeInUp 0.5s;
	animation-delay: 4.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s16 {
	position: absolute;
  left: 347px;
  top: 642px;
  width: 143px;
  height: 63px;
	animation: zoomIn 0.5s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s17 {
	position: absolute;
  left: 507px;
  top: 642px;
  width: 181px;
  height: 63px;
	animation: zoomIn 0.5s;
	animation-delay: 4.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s18 {
	position: absolute;
  left: 704px;
  top: 642px;
  width: 140px;
  height: 63px;
	animation: zoomIn 0.5s;
	animation-delay: 4.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s19 {
	position: absolute;
  left: 858px;
  top: 642px;
  width: 176px;
  height: 63px;
	animation: zoomIn 0.5s;
	animation-delay: 4.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s20 {
  position: absolute;
  left: 929px;
  top: 177px;
  width: 48px;
  height: 38px;
  	animation: flashOff 1s infinite;
	animation-delay: 5s;
	animation-fill-mode: both;
  z-index: 5;
}

@keyframes flashOff {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}