*{
	margin: 0px;
	padding: 0px;
}

.s6_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s6_2 {
	position: absolute;
  left: 559px;
  top: 192px;
  width: 243px;
  height: 42px;
	animation: slideInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s6_3 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 181px;
  height: 134px;
	animation: slideInUp 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s6_3_wrap {
	position: absolute;
  left: 243px;
  top: 595px;
  width: 181px;
  height: 134px;
  overflow: hidden;
	z-index: 4;
}

.s6_4 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 217px;
  height: 135px;
	animation: slideInUp 0.5s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s6_4_wrap {
	position: absolute;
  left: 565px;
  top: 595px;
  width: 217px;
  height: 135px;
    overflow: hidden;
	z-index: 4;
}

.s6_vid1 {
  position: absolute;
  left: 222px;
  top: 250px;
  width: 580px;
  height: 326px;
  z-index: 80;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}