*{
	margin: 0px;
	padding: 0px;
}

.s13_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s13_2 {
	position: absolute;
  left: 559px;
  top: 208px;
  width: 243px;
  height: 42px;
	animation: slideInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s13_3 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 378px;
  height: 126px;
	animation: slideInUp 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 3;
}

.s13_3_wrap {
	position: absolute;
  left: 240px;
  top: 608px;
  width: 97px;
  height: 119px;
  overflow: hidden;
	z-index: 4;
}

.s13_4 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 382px;
  height: 126px;
	animation: slideInUp 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s13_4_wrap {
	position: absolute;
  left: 444px;
  top: 608px;
  width: 146px;
  height: 122px;
    overflow: hidden;
	z-index: 4;
}

.s13_5 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 354px;
  height: 93px;
	animation: slideInUp 0.5s;
	animation-delay: 5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s13_5_wrap {
	position: absolute;
  left: 631px;
  top: 608px;
  width: 209px;
  height: 123px;
    overflow: hidden;
	z-index: 4;
}

.s13_vid1 {
  position: absolute;
  left: 222px;
  top: 266px;
  width: 580px;
  height: 326px;
  z-index: 80;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}