*{
	margin: 0px;
	padding: 0px;
}

.s9_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s9_2 {
	position: absolute;
  left: 525px;
  top: 0px;
  width: 499px;
  height: 702px;
	animation: slideInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}  

.s9_3 {
	position: absolute;
  left: 27px;
  top: 26px;
  width: 448px;
  height: 99px;
	animation: fadeInUpBig 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 3;
}

.s9_4 {
	position: absolute;
  left: 36px;
  top: 138px;
  width: 273px;
  height: 54px;
	animation: flipInXFlash 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_5 {
	position: absolute;
  left: 37px;
  top: 210px;
  width: 396px;
  height: 43px;
	animation: fadeInUp 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s9_6 {
	position: absolute;
  left: 502px;
  top: 227px;
  width: 290px;
  height: 508px;
	animation: fadeInLeftBig 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 6;
}

.s9_7 {
	position: absolute;
  left: 17px;
  top: 316px;
  width: 468px;
  height: 175px;
	animation: zoomInUp 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 4;
}

.s9_8 {
	position: absolute;
  left: 286px;
  top: 432px;
  width: 175px;
  height: 33px;
	animation: flashIt 2s infinite;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}


@keyframes flashIt {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}


@keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
	70%, 80%, 90% {opacity: 0;}
	65%, 75%, 85%, 95% {opacity: 1;}
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}