*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 130px;
  top: 83px;
  width: 820px;
  height: 88px;
	animation: slideInDown 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 10;
}

.s3 {
	position: absolute;
  left: 96px;
  top: 236px;
  width: 111px;
  height: 47px;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 213px;
  top: 404px;
  width: 179px;
  height: 180px;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 573px;
  top: 236px;
  width: 89px;
  height: 47px;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 680px;
  top: 403px;
  width: 180px;
  height: 181px;
	z-index: 5;
}

.fadeOut {
	animation: fadeOut 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.pulseBig {
	animation: pulseBig 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.flashLongOn {
	animation: flashLongOn 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
}


.switchOn1 {
  position: absolute;
  left: 0px;
  top: 486px;
  width: 76px;
  height: 223px;
  z-index: 20;
}

.lsw0 {
	position: absolute;
  left: 13px;
  top: 542px;
  width: 49px;
  height: 96px;
	z-index: 3;
}

.lsw1 {
	position: absolute;
  left: 13px;
  top: 542px;
  width: 49px;
  height: 96px;
	z-index: 5;
}

.lsw {
	position: absolute;
  left: 10px;
  top: 581px;
  width: 54px;
  height: 67px;
	z-index: 10;
}

.lsw2 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 54px;
  height: 67px;
	z-index: 7;
}

.lsw3 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 54px;
  height: 67px;
	z-index: 9;
}

.switchOn2 {
  position: absolute;
  left: 1004px;
  top: 486px;
  width: 76px;
  height: 223px;
  z-index: 20;
}

.rsw0 {
	position: absolute;
  left: 1016px;
  top: 542px;
  width: 49px;
  height: 96px;
	z-index: 3;
}

.rsw1 {
	position: absolute;
  left: 1016px;
  top: 542px;
  width: 49px;
  height: 96px;
	z-index: 5;
}

.rsw {
	position: absolute;
  left: 1014px;
  top: 581px;
  width: 54px;
  height: 67px;
	z-index: 10;
}

.rsw2 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 54px;
  height: 67px;
	z-index: 7;
}

.rsw3 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 54px;
  height: 67px;
	z-index: 9;
}

.switchOnLeft {
	animation: switchOnLeft 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.switchOnRight {
	animation: switchOnRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

@keyframes switchOnLeft {
  from {
  left: 10px;
  top: 581px;
  width: 54px;
  height: 67px;
  }

  to {
  left: 10px;
  top: 542px;
  width: 54px;
  height: 67px;
  }
}

@keyframes switchOnRight {
  from {
  left: 1014px;
  top: 581px;
  width: 54px;
  height: 67px;
  }

  to {
  left: 1014px;
  top: 542px;
  width: 54px;
  height: 67px;
  }
}

@keyframes flashLongOn {
  0%, 10%, 40%, 60%, 90%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}